{
  "root": true,
  "extends": ["prettier", "standard"],
  "plugins": ["prettier", "jest"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "rules": {
    "space-before-function-paren": "off"
  },
  "globals": {
    "test": true
  }
}
